body {
    font-family: Arial, sans-serif;
    background-color: #d0dcee;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #a5c2ee;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8eaff7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #5366d1;
}

.resultado-cuadro {
    background-color: #d9dcf3;
    margin-top: 15px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.resultado-cuadro p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.resultado-cuadro span {
    font-weight: bold;
    color: #4a3c98;
}

/* Estilo para los gráficos */
#graficoNoAmortiguadaCanvas,
#graficoAmortiguadaCanvas {
    margin-top: 20px;
    height: 400px; /* Aumentar la altura de los gráficos */
}


#containerResultados .btn-secondary {
    background-color: #2e8bdd; /* Color base */
    border-color: #4689c4; /* Borde base */
    color: #fff; /* Texto */
    font-size: 16px; /* Tamaño del texto */
    transition: background-color 0.3s ease, border-color 0.3s ease; /* Animación suave */
}

/* Hover del botón */
#containerResultados .btn-secondary:hover {
    background-color: #1c1f22; /* Color al pasar el mouse */
    border-color: #495057; /* Borde al pasar el mouse */
}

footer img {
    width: 50px; /* Ajusta el tamaño del logo */
    height: auto;
    margin-bottom: 10px;
}

footer p {
    margin: 5px 0; /* Reduce el margen entre líneas de texto */
}
